{% extends 'base.html' %}

{% block title %}Admin Menu{% endblock title %}


{% block content %}
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Admin Menu</h6>
    </div>
    <div class="card-body">
        <ul>
            <li><a href="{% url 'upload_csv' %}"> Agregar Encuestas + </a></li>
            <li><a href="#"> Administrar Dashboards </a></li>
            <li><a href="{% url 'surveys_index' %}"> Administrar Encuestas </a></li>
            <li><a href="#"> Privilegios De Usuario </a></li>
            <li><a href="#"> Facultades / Carreras </a></li>
            <li><a href="#"> Mi Perfil </a></li>

        </ul>
    </div>
</div>


{% endblock content%}